@import '../variables'

.design-dev
  background-color: $blue
  color: $white

.notification.is-brand
  background-color: $brand
  color: $white

#services
  margin: 1rem

//.notification.content-management
//  background-color: $light-grey
//  color: $black

//.notification.is-info
//  background-color: $blue
//  color: $black
