@import '../variables'
@import "~bulma/sass/utilities/mixins"

.design-dev
  background-color: $blue
  color: $white

.notification.is-brand
  background-color: $brand
  color: $white

#services
  margin: 4rem .5rem

.services-container
  +desktop
    display: grid
    grid-gap: .5rem
    grid-template-columns: 1fr 2fr

.services-list-container
  text-align: right

