@import '../variables'
@import "~bulma/sass/utilities/mixins"

.design-dev
  background-color: $blue
  color: $white

.notification.is-brand
  background-color: $brand
  color: $white

#services
  margin: 4rem .5rem

.services-list-container
  display: grid
  grid-gap: .5rem
  +tablet
    grid-template-columns: repeat(2, 50%)

