@import '../variables'

.slow-websites
  padding: 2rem 0
  margin: 0
  background-color: $dark-blue
  border-top: 1px solid darken($dark-blue, 5)
  border-bottom: 1px solid darken($dark-blue, 5)
  .container
    padding: 0 .5rem

  h1, h2, h3, h4, h5, h6, p
    color: $white

  color: $white