@import '../variables'

.service-container
//background-color: $blue

.service-header
  //margin: 1rem

  .sub
    font-weight: 400
    line-height: 1.25
    color: $black
  //text-transform: uppercase

  .service-title
    margin: 0
    padding-bottom: .5rem
    text-transform: uppercase
    color: $brand

.service-body

