@import '../variables'

.service-container
  display: flex
  flex-direction: column

.service-header
  .service-header-bar
    display: flex
    justify-content: space-between

    i
      color: $blue

  .sub
    font-weight: 400
    line-height: 1.25
    color: $black
  //text-transform: uppercase

  .service-title
    margin: 0
    padding-bottom: .5rem
    text-transform: uppercase
    color: $brand
    &:hover
      color: darken($brand, 8)



.service-body
