@import '../variables'

.service-container
  background-color: $blue
  h1, h2, h3, h4, h5, h6
    color: $white
  .subtitle
    color: $white
  color: $white



.service-header
  margin: 1rem

.service-body
  margin: 1rem


