@import '../variables'
@import '~bulma/sass/utilities/mixins'

.contact-form
  margin: 2rem auto
  +tablet
    padding: 4rem 0
    margin: 2rem 0.5rem
  +mobile
    margin: 2rem 0rem
  max-width: 960px


.contact-form-container
  background-color: $orange
  border-top: 1px solid darken($orange, 5)
  border-bottom: 1px solid darken($orange, 5)

