.is-brand
  background-color: $brand
  border: 1px solid darken($brand, 3)
  color: #fff

  &:hover
    background-color: darken($brand, 3)
    border: 1px solid darken($brand, 10)
    color: darken($white, 4)

blockquote
  border-left-color: $orange !important

a
  color: $brand

a:hover
  color: darken($brand, 10)


