h1
  color: #30231d
  font-family: 'Merriweather Sans'
  font-size: 66px
  font-weight: 800
  line-height: 78px
  letter-spacing: -2px

p
  color: #50413c
  font-family: 'Merriweather'
  font-size: 18px
  font-weight: 500
  line-height: 30px
  margin-bottom: 36px


