@import '../variables'

.footer
  background-color: $dark-blue

  p
    color: white

.footer-links
  display: flex
  flex-direction: column

  a
    color: $brand

  a:hover
    color: darken($brand, 10)

  a:active
    color: darken($brand, 14)
